.App {
  font-family: sans-serif;
  text-align: center;
}

#legend li span {
  width: 36px;
  height: 12px;
  display: inline-block;
  margin: 0 5px 8px 0;
  vertical-align: -9.4px;
}
#legend ul {
  list-style: none;
  font: 12px Verdana;
  white-space: nowrap;
}

.ColorBox {
  width: 40px;
  height: 20px;
  border: 1px solid #000;
}
